/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Font Styles */



/* Common Styles Start */

.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 50px;
  }

/* Common Styles end */



/* Header Section Start */

  /* banner-section Start */
.banner-section{
margin: auto;
width: 100%;
background-color: #ff8f0e1f;

  }

.nav-bar-section{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

.nav-title{
   font-size: 45px;
   font-weight: bold;
  }

.nav-links{
       display: flex;
       justify-content: space-around;
       gap:50px

}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
  }

  .banner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin: auto; */
  }

  .banner-title{
    margin: auto;
    font-size: 64px;
    font-weight: bold;
  }

  .banner-description{
    font-size: 16px;
    color: #727272;
  }
  
  .banner-img{
  width: 80%;
  border-radius: 10px;
  padding-bottom: 50px;
 }
  
  /* banner-section end */

/* Header Section end */



/* Main Section Start */

/* Main Section end */



/* Footer Section Start */

/* Footer Section end */


/* Small Device */
@media screen and (max-width: 576px) {
  /* Header Section Start */

  /* banner-section Start */
  .nav-bar-section{
   display: flex;
       flex-direction: column;
   /* align-items: center; */
   margin-bottom: 30px;
  }

  .nav-links{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       gap:10px;

}

 .banner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .banner-img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
 }
  /* banner-section end */

/* Header Section end */
}